{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Life Surety</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'admin/css/style2.css' %}" />
  </head>

  <body>
    <div class="nav">
      <div class="container-sm">
        <div class="navbar">
          <div class="nav-btn">
            <a class="btn black-btn" aria-current="page" href="{% url 'contactUs' %}">Contact Us</a>
            <a class="btn" href="{% url 'aboutUs' %}">About Us</a>
          </div>
          <div class="logo">
            <a href="{% url 'index' %}">
              <img src="{% static 'admin/img/Logo.svg' %}" alt="Logo" />
            </a>
          </div>
          <div class="d-flex">
            <div class="d-flex nav-btn" style="position: relative">
              <div class="me-3 d-flex" id="drop">

               <!-- <div class="language-picker js-language-picker" data-trigger-class="btn btn--subtle js-tab-focus">-->
                <form action="" class="language-picker__form">
                  <label for="language-picker-select">Select language</label>
              
                  <select name="language-picker-select" id="language-picker-select">
                    <option lang="de" value="deutsch">Deutsch</option>
                    <option lang="en" value="english" selected>English</option>
                    <option lang="fr" value="francais">Français</option>
                    <option lang="it" value="italiano">Italiano</option>
                  </select>
                </form>
              </div>

              <a class="btn yellow-btn d-flex" aria-current="page" href=""
              onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lifesurety'});return false;">
            <span class="d-flex">
                <img src="{% static 'admin/img/calender.svg' %}" alt="" /></span>Schedule consultation</a>
            </div>
            <a href="#">
              <img src="{% static 'admin/img/ButtonMenu.svg' %}" class="mx-3 bars" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu -->
    <div class="navbar-2 px-2">
      <div class="d-flex">
        <div class="nav-btn">
          <a class="btn black-btn" aria-current="page" href="{% url 'contactUs' %}">Contact Us</a>
          <a class="btn" href="{% url 'aboutUs' %}">About Us</a>
        </div>
        <div class="logo">
          <img src="{% static 'admin/img/Logo.svg' %}" alt="Logo" />
        </div>
        <div class="d-flex">
          <div class="d-flex nav-btn">
            <!--p class="mx-3 d-flex">              
            </p-->
            <a class="btn yellow-btn d-flex" aria-current="page" href=""
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lifesurety'});return false;">
              <span class="d-flex">
                <img src="{% static 'admin/img/calender.svg' %}" alt="" /></span>Schedule consultation</a>
          </div>
          <a href="#">
            <img src="{% static 'admin/img/close-menu.svg' %}" class="mx-3 bars" alt="" />
          </a>
        </div>
      </div>
      <div class="row mt-2">
        <div
          class="col-md-4 foot-text mb-1"
          style="border-right: 1px solid #999">
          <h4>Contacts</h4>
          <div class="d-flex">
            <img src="{% static 'admin/img/footer/Frame.svg' %}" alt="" />
            <p>
              Working hours <br />
              Monday - Friday: 9am - 4pm
            </p>
          </div>
          <p class="d-flex">
            <img src="{% static 'admin/img/footer/Frame-1.svg' %}" class="me-2" alt=""/>1-202-446-6861
          </p>
          <p class="d-flex">
            <img src="{% static 'admin/img/footer/Frame-2.svg' %}" class="me-2" alt=""/>help@lifesurety.com
          </p>
          <a href="{% url 'privacy' %}">
          <p class="d-flex">
            <img src="{% static 'admin/img/footer/Frame-3.svg' %}" class="me-2" alt="" />Privacy policy
          </p></a>
        </div>
        <div class="col-md-8 foot-link mb-1">
          <p class="text-muted d-flex">
            <img src="{% static 'admin/img/slider/grid.svg' %}"
              class="me-2" width="20rem" alt=""/>Catalogue of services 
            <img src="{% static 'admin/img/arrow-right.svg' %}" alt="" />
          </p>
          <div class="main" style="position: relative;">
            <a href="javascript:void(0)" id="title"><span class="d-flex m-0">
              Life Insurance
              <img src="{% static 'admin/img/arrow-right-yellow.svg' %}" alt="" /></span></a>
              <ul class="dropdown">
                <li class="icon"><a href="#">Term Life Insurance</a></li>
                <li class="icon"><a href="#">Permanent life insurance </a></li>                          
              </ul>
          </div>          
          <a href="{% static 'group/groupBenefit.html' %}">Group benefit</a><br/>          
          <a href="{% static 'rssa/analyst.html' %}">Social Security benefits analysis</a><br />
          <a href="{% static 'notary/notary.html' %}">Notary Services</a><br/>
          <div class="main" style="position: relative">
            <a href="javascript:void(1)" id="title"><span class="d-flex m-0">
                Health Insurance
                <img src="{% static 'admin/img/arrow-right-yellow.svg' %}" alt="" /></span></a>
            <ul class="dropdown">
              <li class="icon"><a href="#">Individual Plans</a></li>
              <li class="icon"><a href="#">Family Plans</a></li>
              <li class="icon"><a href="#">Ancillary plans</a></li>
              <li class="icon"><a href="#">Medicare Advantage plans</a></li>
              <li class="icon"><a href="#">Medigap (Medicare supplement)</a></li>
              <li class="icon"><a href="#">Prescription Drug plans</a></li>
              <li class="icon"><a href="#">Dental Plans</a></li>
              <li class="icon"><a href="#">Vision plans</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="border: 0.2px solid rgb(229, 229, 229)"></div>
    <div class="container-sm">
      <ul class="sub-nav" style="justify-content: space-between">
        <a href="./lifeInsuarance.html" class="d-flex">
          <img src="{% static 'admin/img/Art-Life Insurance.svg' %}" alt="Life" />
          <p>Life Insurance</p>
        </a>
        <a href="./healthInsurance.html" class="d-flex">
          <img src="{% static 'admin/img/Art-Health Insurance.svg' %}" alt="Life" />
          <p>Health Insurance</p>
        </a>
        <a href="{% static 'healthInsurance.html' %}" class="d-flex">
            <img src="{% static 'admin/img/svgrepo.svg' %}" alt="Life" />
            <p>Group benefits</p>
          </a>
        <a href="./analyst.html" class="d-flex">
          <img src="{% static 'admin/img/Art-Analyst Services.svg' %}" />
          <p>Social Security benefits analysis</p>
        </a>
        <a href="./notary.html" class="d-flex">
          <img src="{% static 'admin/img/Art-Notorious.svg' %}" alt="Life" />
          <p>Notary Services</p>
        </a>
      </ul>
    </div>
    <!-- Hero Section -->
    <div style="background-color: #fffaf7">
      <div class="container-sm">
        <div class="row">
          <div class="col-md-6 hero-text my-auto">
            <h1>Get insurance that just make sense</h1>
            <p style="margin: 2rem 0">
              Flexible plans that make getting care easy without jumping through
              hoops, and a dedicated Care Team on call ready to help you find
              what you need.
            </p>
            <div class="btns">
              <select name="" class="btn black-btn" aria-current="page">
                <option class="btn white-btn">
                <a  href="#">Pick a Policy</a><span style="color: gray">or</span>
                </option>
                <option class="btn white-btn">
                <a  href="#">Pick a Plan </a><span style="color: gray">or</span>
                </option>
              </select>
              <button class="btn yellow-btn" href="#">
                Schedule consultation
              </button>
            </div>
          </div>
          <div class="col-md-6 d-flex" style="justify-content: center">
            <img src="{% static 'admin/img/home-hero.svg' %}" class="hero-img" alt="Hero Image"/>
          </div>
        </div>
        <div class="container-sm nav-bg">
          <ul class="d-flex" style="justify-content: space-around">
            <a href="./lifeInsuarance.html" class="d-flex">
              <img src="{% static 'admin/img/Art-Life Insurance.svg' %}" alt="Life"/>
              <p>Life Insurance</p>
            </a>
            <a href="./healthInsurance.html" class="d-flex">
              <img
                src="{% static 'admin/img/Art-Health Insurance.svg' %}"
                alt="Life"/>
              <p>Health Insurance</p>
            </a>
            <a href="./analyst.html" class="d-flex">
              <img src="{% static 'admin/img/Art-Analyst Services.svg' %}"
                alt="Life"/>
              <p>Social Security benefits analysis</p>
            </a>
            <a href="./notary.html" class="d-flex">
              <img src="{% static 'admin/img/Art-Notorious.svg' %}" alt="Life" />
              <p>Notary Services</p>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <!-- About Section -->
    <section class="container-sm text-center main-content">
      <h2 class="mt-5">Why clients choose Life Surety</h2>
      <p class="mb-4">We have a few principle for our service</p>
      <div class="card-group">
        <!-- Card 1 -->
        <div class="card">
          <div class="card-body">
            <p>We care and listen to our customers</p>
          </div>
          <img src="{% static 'admin/img/image-4a.svg' %}" width="100%" alt="..." />
        </div>
        <!-- Card 2 -->
        <div class="card card2">
          <div class="card-body">
            <p>Wide range of services of different directions</p>
          </div>
          <img src="{% static 'admin/img/image-4b.svg' %}" width="100%" alt="..." />
        </div>
        <!-- Card 3 -->
        <div class="card card3">
          <div class="card-body">
            <p>Including notarial services</p>
          </div>
          <img src="{% static 'admin/img/image-4c.svg' %}" width="100%" alt="..." />
        </div>
      </div>
      <div class="line"></div>
      <p class="mb-1">Need more informations about us?</p>
      <a href="#" class="btn btn-2 d-inline-flex">Yes, learn more 
        <img src="{% static 'admin/img/arrow-right.svg' %}" alt=""/></a>
    </section>
    <!-- About Section End-->
    <!-- Features Section -->
    <section
      class="mt-3 container-sm"
      style="background-color: #eee7ef; padding: 3rem 0; border-radius: 2rem">
      <div class="container-sm">
        <div class="feat">
          <h2 style="width: 50%">Our features</h2>
          <p>5 reasons to choose Life Surety</p>
        </div>
        <div class="line" style="border: 1px solid #fff"></div>
        <div class="card-group">
          <!-- Card 1 -->
          <div class="card mx-auto transparent" style="max-width: 12rem">
            <img src="{% static 'admin/img/FeautureIcon-1.svg' %}" alt="..." />
            <div class="card-body">
              <h4>Reliably</h4>
              <p>We are in partnership with «RSSA», «ASSURANCE»</p>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="card mx-auto transparent" style="max-width: 12rem">
            <img src="{% static 'admin/img/FeautureIcon-2.svg' %}" alt="..." />
            <div class="card-body">
              <h4>Cheaply</h4>
              <p>Comfortable tariffs in the insurance market</p>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="card mx-auto transparent" style="max-width: 12rem">
            <img src="{% static 'admin/img/FeautureIcon-3.svg' %}" alt="..." />
            <div class="card-body">
              <h4>For each</h4>
              <p>Wide and flexible range of plans</p>
            </div>
          </div>
          <!-- Card 4 -->
          <div class="card mx-auto transparent" style="max-width: 12rem">
            <img src="{% static 'admin/img/FeautureIcon-4.svg' %}" alt="..." />
            <div class="card-body">
              <h4>Optimally</h4>
              <p>Payout ratio is one of the highest on the market</p>
            </div>
          </div>
          <!-- Card 5 -->
          <div class="card mx-auto transparent" style="max-width: 12rem">
            <img src="{% static 'admin/img/FeautureIcon-5.svg' %}" alt="..." />
            <div class="card-body">
              <h4>Operatively</h4>
              <p>Insurance payments within 10 days</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features Section End -->
    <!-- Slider Catalogue Section -->
    <section class="container-sm">
      <!-- <div class="d-flex">
        <h2>
          <i class="fa-solid fa-border-all me-1"></i>Catalogue of services
        </h2>
        <a href="#" class="btn btn-2 mx-3"
          >Explore all <i class="fa-solid fa-chevron-right"></i
        ></a>
      </div> -->
      <main>
        <header>
          <div class="d-flex">
            <h3 class="d-flex">
              <img src="{% static 'admin/img/grid.svg' %}" class="me-2" alt="" />
              Catalogue of services
            </h3>
            <a href="#" class="btn btn-2 d-inline-flex ms-1"
              >Explore all <img src="{% static 'admin/img/arrow-right.svg' %}" alt=""
            /></a>
          </div>
          <p>
            <img src="{% static 'admin/img/arrow-left.svg' %}" alt="" />
            <img src="{% static 'admin/img/arrow-right.svg' %}" class="arrow" alt="" />
          </p>
        </header>
        <section class="slider">
          <div class="product">
            <picture>
              <img src="{% static 'admin/img/li4b.svg' %}" alt="" />
            </picture>
            <img src="{% static 'admin/img/umbrella.svg' %}" class="slide-icon" alt="" />
            <div class="div ms-1" style="background-color: #4caf50"></div>
            <div class="detail">
              <p>Life Insurance for Business</p>
            </div>
          </div>
          <div class="product">
            <picture>
              <img src="{% static 'admin/img/girlholdingfloss.svg' %}" alt="" />
            </picture>
            <img src="{% static 'admin/img/heart.svg' %}" class="slide-icon" alt="" />
            <div class="div ms-1" style="background-color: #f44336"></div>
            <div class="detail">
              <p>Dental Plans</p>
            </div>
          </div>
          <div class="product">
            <picture>
              <img src="{% static 'admin/img/manreadingpaper.svg' %}" alt="" />
            </picture>
            <img src="{% static 'admin/img/umbrella.svg' %}" class="slide-icon" alt="" />
            <div class="div ms-1" style="background-color: #4caf50"></div>
            <div class="detail">
              <p>Whole Life</p>
            </div>
          </div>
          <div class="product">
            <picture>
              <img src="{% static 'admin/img/pharmacyandpatient.svg' %}" alt="" />
            </picture>
            <img src="{% static 'admin/img/heart.svg' %}" class="slide-icon" alt="" />
            <div class="div ms-1" style="background-color: #f44336"></div>
            <div class="detail">
              <p>Prescription Drug plans</p>
            </div>
          </div>
          <div class="product">
            <picture>
              <img src="{% static 'admin/img/family.svg' %}" alt="" />
            </picture>
            <img src="{% static 'admin/img/heart.svg' %}" class="slide-icon" alt="" />
            <div class="div ms-1" style="background-color: #f44336"></div>
            <div class="detail">
              <p>Family Plan</p>
            </div>
          </div>
          <div class="product">
            <picture>
              <img src="{% static 'admin/img/li4b.svg' %}" alt="" />
            </picture>
            <img src="{% static 'admin/img/heart.svg' %}" class="slide-icon" alt="" />
            <div class="div ms-1" style="background-color: #f44336"></div>
            <div class="detail">
              <p><b>Product Six</b><br /></p>
            </div>
          </div>
          <div class="product">
            <picture>
              <img src="{% static 'admin/img/girlholdingfloss.svg' %}" alt="" />
            </picture>
            <img src="{% static 'admin/img/heart.svg' %}" class="slide-icon" alt="" />
            <div class="div ms-1" style="background-color: #f44336"></div>
            <div class="detail">
              <p><b>Product Seven</b><br /></p>
            </div>
          </div>
        </section>
      </main>
      <div class="line"></div>
    </section>
    <!-- Catalogue Section End -->
    <!-- testimonial Section -->
    <section class="container-sm" style="margin-top: 25vh">
      <div class="test row" style="align-items: stretch">
        <div class="col-md-4">
          <div class="div mb-1"></div>
          <h4 class="my-4">Only experts in their field</h4>
          <div class="d-flex my-2 border">
            <img src="{% static 'admin/img/image13.svg' %}" alt="" />
            <h6 class="mx-3 d-inline-flex">
              Registered Social Security Analyst
              <img src="{% static 'admin/img/arrow-right.svg' %}" alt="" />
            </h6>
          </div>
          <div class="d-flex border">
            <img src="{% static 'admin/img/image14.svg' %}" alt="" />
            <h6 class="mx-3 d-inline-flex">
              Notary Services
              <img src="{% static 'admin/img/arrow-right.svg' %}" alt="" />
            </h6>
          </div>
        </div>

        <div class="col-md-8 test-2">
          <div
            class="row"
            style="
              background-color: #faf7f5;
              border-radius: 16px;
              margin: 3rem 0;
            "
          >
            <div class="col-md-4 test-img">
              <img src="./image/men.svg" class="t-img" alt="" />
              <div style="text-align: left; margin-left: 2rem">
                <h6 class="mt-2 fw-700">Life Surety Agents</h6>
                <p class="text-muted">
                    Are all Licensed and Registered with quality track record.
                </p>
              </div>
            </div>
            <div class="col-md-8 my-auto">
              <p>
                <img
                  src="{% static 'admin/img/quotation.svg' %}"
                  class="d-block"
                  alt=""
                />
                The customer service is amazing, and communication is easy. They
                helped me understand my benefits and find the best doctor for my
                condition.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- testimonial Section End -->
    <!-- Faq Section -->
    <section class="faq py-3">
      <div class="container-sm">
        <div class="row d-flex">
          <div class="col-md-6">
            <h1 class="white" style="font-size: 48px">Ready to get started?</h1>
            <p class="white mt-2 mb-4">
              <img src="{% static 'admin/img/information-icon.svg' %}" alt="" />

              87% of members say that Life Surety saves them time and money
              compared to other insurers.
            </p>
            <div class="btns">
              <a
                class="btn white-btn py-1 d-inline-flex"
                style="background-color: #fff"
                ;
                aria-current="page"
                href="#"
                ><img src="{% static 'admin/img/white-grid.svg' %}" class="me-2" alt="" />
                Explore plans</a
              >
              <span class="or" style="color: gray">or</span>
              <a class="btn yellow-btn py-1 d-inline-flex" href=""
                onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lifesurety'});return false;"
                ><img src="./image/calender.svg" class="me-2" alt="" /> Schedule
                consultation</a
              >
            </div>
          </div>
          <div class="col-md-6 faq-right">
            <div class="part-faq">
              <h4>Have a question?</h4>
              <p class="mb-2">We are always ready to help you</p>
              <a href="#" class="btn btn-2 d-inline-flex">Ask here! 
                <img src="{% static 'admin/img/arrow-right.svg' %}" class="" alt=""/></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Faq Section End -->
    <!-- Footer Section -->
    <footer class="container-sm my-5">
      <div class="row footer">
        <div class="col-md-2 mb-1 text-center">
          <a href="{% url 'index' %}">
            <img src="{% static 'admin/img/Logo.svg' %}" alt=""
          /></a>
          <p class="text-muted">© 2022 Life Surety</p>
        </div>
        <div class="col-md-4 foot-link mb-1">
          <p class="text-muted">Catalogue of services</p>
          <a href="./lifeInsuarance.html">Life Insurance</a><br />
          <a href="./healthInsurance.html">Health Insurance</a><br />
          <a href="{% static '' %}">Group benefit</a><br />
          <a href="./analyst.html">Social Security benefit analysis</a><br />
          <a href="./notary.html">Notary Services</a>
        </div>
        <div class="col-md-3 foot-text mb-1">
          <div class="d-flex">
            <img src="{% static 'admin/img/Frame.svg' %}" alt="" />
            <p>
              Working hours <br />
              Monday - Friday: 9am - 4pm
            </p>
          </div>
          <p class="d-flex">
            <img
              src="{% static 'admin/img/Frame-1.svg' %}"
              class="me-2"
              alt=""
            />1-855-123-4567
          </p>
          <p class="d-flex">
            <img
              src="{% static 'admin/img/Frame-2.svg' %}"
              class="me-2"
              alt=""
            />help@lifesurety.com
          </p>
          <a href="{% static 'privacy.html' %}">
          <p class="d-flex">
            <img src="{% static 'admin/img/Frame-3.svg' %}" class="me-2" alt="" />Privacy
            policy
          </p></a>
        </div>
        <div class="col-md-3 text-center">
          <h5 style="font-weight: normal">Get in touch</h5>
          <div style="line-height: 1">
            <a style="display: block" class="btn yellow-btn" href="">
                <span class="d-flex white">
                  <img src="{% static 'admin/img/calender.svg' %}" alt="" />Schedule
                consultation</span>
                </a onclick="Calendly.initPopupWidget({url: 'https://calendly.com/lifesurety'});return false;"><br />
            <a href="#" class="btn btn-2" style="display: block">Contat us</a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <script src="{% static 'admin/js/main.js' %}"></script>
    <script src="{% static 'admin/js/header.js' %}"></script>
  </body>
</html>